<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="static/style.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" href="static/favicon.ico">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css" rel="stylesheet">

        <script src="static/script.js"></script>
        <title>AIS Predictor</title>
    </head>
    <body>
        <div class="root" id="root">
            <div id="map"></div>
            <div class="sidebar" id="sidebar">
                <div class="buttonBox">
                    <a class="uploadButton btn red"><b>Upload .arff file</b></a>
                    <input type="file" id="fileInput" hidden>
                </div>

                <div class="info">
                    <span>No data point selected</span>
                </div>

                <div class="listing">
                    <span>No input file</span>
                </div>
            </div>
        </div>
    </body>
</html>