body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 240px;
    right: 0;
}

#panel {
    float: left;
    width: 240px;
    height: 100%;
    left: 0;
    background-color: burlywood;
}

#infoField {
    height: 40px;
    margin: 0;
    background-color: green;
}

#tripTableContainer {
    position: absolute;
    top: 110px;
    bottom: 0;
    width: 240px;
    background-color: gold;
    overflow: auto;
}

#tripTable {
    margin: 0;
}

tr.selected {
    background-color: teal;
    color: white;
}