<!DOCTYPE html>
<html>

    <head>  
        <title>Vessel ETT Estimator</title>  
    </head>

    <body>
        <p>Enter the a file path and click the button to estimate the vessel's ETT ...</p>
        <input type="text" name="pathfield">
        <input type="button" id='script' name="scriptbutton" value=" Run Broker " onclick="runBroker()">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script>
            function runBroker(){
                //alert("Vincent der chinesische Nackthund ...")
                $.ajax({
                    url: "broker.py"
                }).done(function(number) {
                    alert("Broker returned " + number);
                });
            }
        </script>
    </body>

</html>